.botaoMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  margin: 10px;
}

.botaoMenu span {
  height: 2px;
  width: 25px;
  background: white;
  margin: 4px;
  transition: 0.3s;
}

.navbarMobile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Centraliza verticalmente */
  background-color: rgba(44, 62, 80, 0.5); 
  backdrop-filter: blur(10px); 
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh; 
  z-index: 20; 
}

.botaoFechar {
  position: absolute;
  top: 10px;
  right: 20px;
  background: transparent;
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
}

.menuMobile {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  width: 100%;
  text-align: center; 
  margin: 0;
  padding: 0;
}

.menuMobile li {
  position: relative;
}

.menuMobile li a {
  color: white;
  text-decoration: none;
  font-size: 16px;
  line-height: 40px;
  position: relative; 
  transition: box-shadow 0.4s ease-in-out;
}

.menuMobile li a::after {
  content: '';
  position: absolute;
  width: 0%;
  height: 4px; 
  display: block;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background: rgba(72, 207, 113, 0.8); 
  transition: width 0.3s ease;
}

.menuMobile li a:hover::after {
  width: 100%;
}

.contatoMobile {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 20px;
}

.contatoMobile button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 0;
}

.contatoMobile button::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(72, 207, 113, 0.8); 
  transform: translate(-50%, -50%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  z-index: -1; 
  border-radius: 50%;
}

.contatoMobile button:hover::before {
  width: 300%;
  height: 300%;
}

.contatoMobile button:hover {
  color: white; 
  z-index: 1; 
  text-decoration: underline; 
}
