.imageContainer {
  position: relative;
  width: 100%;
  max-width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(44, 62, 80, 0.4);
  backdrop-filter: blur(10px);
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.logoContainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.logo {
  display: flex;
  align-items: center;
}

.logoImagem {
  height: 30px;
}

.menuContainer {
  display: flex;
  flex: 1;
  justify-content: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.menu {
  list-style: none;
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 0;
}

.menu li {
  position: relative;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  line-height: 30px;
  position: relative;
}

.menu li a::before {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  left: 50%;
  bottom: -3px;
  background: #00FF00;
  transition: width 0.3s ease, left 0.3s ease;
}

.menu li a:hover::before {
  width: 100%;
  left: 0;
}

.contatoContainer {
  display: flex;
  align-items: center;
}

.contato {
  display: flex;
  align-items: center;
}

.botaoContato {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  font-size: 14px;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease-in-out;
  z-index: 0;
}

.botaoContato::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background: rgba(72, 207, 113, 0.8);
  transform: translate(-50%, -50%);
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  z-index: -1;
  border-radius: 50%;
}

.botaoContato:hover::before {
  width: 300%;
  height: 300%;
}

.botaoContato:hover {
  color: white;
  z-index: 1;
  text-decoration: underline;
}

.menuBtn {
  display: none;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.menuBtn span {
  height: 2px;
  width: 25px;
  background: white;
  margin: 4px;
  transition: 0.3s;
}

@media (max-width: 768px) {
  .navbar {
    justify-content: space-between;
  }

  .menuContainer {
    display: none;
  }

  .contato {
    display: none;
  }

  .menuBtnContainer {
    display: flex;
    justify-content: flex-end;
    flex: 1;
  }

  .menuBtn {
    display: flex;
  }

  .logoContainer {
    flex: none;
    justify-content: flex-start;
  }
}
