/* Página de cortes */
.containerPagina {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* esconde scroll */
  position: relative;
}

/* Imagem de Fundo */
.containerImagem {
  width: 100%;
  height: 100%;
  position: relative;
}

.imagemPrincipal {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.6); /* deixa o fundo da imagem mais escura */
}

/* Carrossel 1 */
.boxCarrossel {
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.tituloCarrossel {
  color: white;
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
}

.containerCarrossel {
  position: relative;
  width: 100%;
  max-width: 900px;
  height: 300px;
  overflow: hidden;
}

.carrossel {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 100%;
}

.imagemCarrossel {
  position: absolute;
  width: 250px;
  height: 300px;
  object-fit: cover;
  border-radius: 10px;
  opacity: 0.5;
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.imagemAtiva {
  opacity: 1;
  transform: scale(1.1);
  z-index: 2;
}

/* Botões de Navegação */
.botaoCarrossel {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 50%;
}

.botaoCarrossel:hover {
  background: rgba(0, 0, 0, 0.8);
}

.botaoCarrossel:first-of-type {
  left: 20px;
}

.botaoCarrossel:last-of-type {
  right: 20px;
}
